@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.app {
  display: grid;
  grid-template-rows: 80px auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}